@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

:root {
    --AntiqueWhite: #F0E4D3;
    --grey: #383838;
    --Jonquil: #FFCF00;
    --Night: #141414;
    --Platinum: #E3E4E5;
    --Sea_salt: #F6F7F8;
    --Dodger_blue: #0496FF;
    --profile_gradient: linear-gradient(-45deg, #FBF5EE, #F5E8D5);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border: 2px solid orange; */
}

html {
    font-size: 16px;
}

/* Navbar */
header {
    width: 100%;
    height: 75px;
    position: fixed;
    background: var(--AntiqueWhite);
    top: 0;
    left: 0;
    z-index: 100;
}

.navigation .sec_parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1.3rem 10%;

}

/** Logo */
header .sec_parent .logo a {
    font-size: 1.2rem;
    color: var(--grey);
}

/* Nav links */
.sec_parent #nav_bar a {
    font-family: "Manrope", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--grey);
    text-decoration: none;
    margin-left: 1.3rem;
    position: relative;
}

.sec_parent #nav_bar a.active {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
}

/* Hover effect */
.sec_parent #nav_bar a:hover {
    color: var(--Night);
}

/* Hamburger menu styles */
.sec_parent .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.sec_parent .hamburger span {
    height: 2px;
    width: 25px;
    background: var(--AntiqueWhite);
    margin: 4px;
    transition: all 0.3s;
}


/** Hero Section **/
.hero_section {
    width: 100%;
    margin-top: 75px;
}

section .hero_container {
    width: 100%;
    height: calc(100vh - 75px);
    background-image: url(Hero1.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 15% 8%;
    margin-top: 20px;
}


.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-family: "Montserrat", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: var(--Night);
}

.title p {
    font-family: "Manjari", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--grey);
    letter-spacing: 0.1rem;
}

/* Download link */
.download_Link {
    display: flex;
    align-items: center;
}

.download_Link .file_pdf a {
    font-family: "McLaren", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: var(--Night);
    background-color: var(--Jonquil);
    border: 1px solid var(--Jonquil);
    padding: 10px 20px;
    margin: 20px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.download_Link .file_pdf a:hover {
    border: 1px solid var(--grey);
}

.download_Link .file_pdf .fa-cloud-arrow-down {
    margin-left: 5px;
    color: var(--Night);
}

.download_Link .socials {
    display: flex;
    width: 30%;
}

.download_Link .socials i {
    margin-left: 8px;
    font-size: 1.8rem;
    color: var(--grey);
    transition: all 0.3s;
}

.download_Link .socials i:hover {
    color: var(--Night);
}

/* About Section */
.about_section {
    text-align: center;
    min-height: 70vh;
    margin-top: 20px;
}

.about_section .about_title {
    text-align: center;
}

.about_section h1 {
    font-family: "Montserrat", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--grey);
    margin-bottom: 10px;
}

.about_section .about_container {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.about_section .about_container .profile_image {
    width: 50%;
    min-width: 250px;
}

.about_section .about_container .profile_image img {
    width: 80%;
    object-fit: cover;
}

.about_container .profile_info {
    background-color: var(--Sea_salt);
    border-radius: 20px;
    padding: 1% 5%;
}

.about_container .profile_info p {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Manjari", Arial, Helvetica Neue, Helvetica, sans-serif;
    color: var(--grey);
    padding: 10px;
}

/* Project Section */
#Projects .card_container {
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
}

#Projects .project_title h1 {
    font-family: "Montserrat", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--grey);
    margin-top: 28px;
    margin-bottom: 10px;
}

/* Projects Card */
.card {
    max-width: 280px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 1px solid #6f6f6f;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.card .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.card .details h4 {
    font-family: "Manrope", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    text-align: center;
    color: var(--grey);
    margin-bottom: 10px;
}

.card .details .card_btns {
    display: flex;
}

.card .details .card_btns a {
    font-family: "McLaren", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: var(--Night);
    background-color: var(--Jonquil);
    border-radius: 20px;
    padding: 6px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.card .details .card_btns a:hover {
    color: var(--Jonquil);
    background-color: var(--grey);
}

/* Skills Section */
.skills {
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 20px auto;
}

.skills .skills_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}


.skills .skill_title h1 {
    font-family: "Montserrat", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--grey);
    margin-bottom: 10px;
}

.skills .skills_container h3 {
    font-family: "Manrope", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    text-align: center;
    color: var(--Night);
}

.technologies {
    width: 400px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    padding: 15px;
}

.technologies article {
    display: flex;
    align-items: center;
}

.technologies article div {
    margin-left: 5px;
}

.technologies article i {
    font-size: 1.3rem;
    color: var(--grey);
    margin-right: 8px;
}

.technologies article h4 {
    font-family: "Manrope", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--grey);
}

.technologies article p {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Manjari", Arial, Helvetica Neue, Helvetica, sans-serif;
    color: var(--grey);
}

/* Contact Section */
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 20px 100px;
}

#contact:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(./images/bg.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.contact_container {
    max-width: 850px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.contact_container .left {
    height: 100%;
    background: url(./images/bg.jpg) no-repeat center;
    background-size: cover;
}

.contact_container .right {
    padding: 25px 40px;
    width: 100%;
    height: 100%;
    background: var(--Sea_salt);
}

.right h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-family: "Montserrat", Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--grey);
    margin-bottom: 10px;
}

.right h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50%;
    border-radius: 2px;
    background-color: var(--Jonquil);
}

input,
textarea {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    display: block;
    font-weight: 400;
    font-family: "Manjari", Arial, Helvetica Neue, Helvetica, sans-serif;
}

/** BreakPoints **/
@media (max-width: 1445px) {}

@media (max-width: 1079px) {

    /* Hero */
    section .hero_container {
        background: linear-gradient(rgba(255, 253, 248, 0.1), rgba(251, 245, 238, 0.9), rgba(251, 245, 238, 1)), url(Hero1.png);
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
        justify-content: center;
    }
}

@media (max-width: 992px) {}

@media (max-width: 769px) {

    /* Navigation Bar */
    .sec_parent #nav_bar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 14.5rem;
        background: var(--AntiqueWhite);
        border-bottom: 2px solid rgba(255, 255, 255, 0.69);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sec_parent #nav_bar a {
        margin: 1rem 0;
    }

    .sec_parent #nav_bar a:hover {
        color: var(--grey);
        text-decoration: underline;
    }

    .sec_parent .hamburger {
        display: flex;
    }

    .sec_parent .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(9px, 5px);
    }

    .sec_parent .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .sec_parent .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(9px, -5px);
    }

    .sec_parent #nav_bar.active {
        display: flex;
    }

    /* About Section */
    .about_section .about_container {
        flex-direction: column;
    }

    /* Contact Section */
    .contact_container {
        grid-template-columns: 1fr;
    }

    .left {
        max-height: 500px;
    }

}

@media (max-width: 425px) {

    /* Hero */
    section .hero_container {
        background: linear-gradient(rgba(255, 253, 248, 0.7), rgba(251, 245, 238, 0.9), rgba(251, 245, 238, 1)), url(Hero1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
    }
}

@media (max-width: 376px) {}